.links-container {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(199, 179, 179);
  margin: 0 10px;
  text-decoration: none;
}

.link:hover {
  color: #a05858;
}
