.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: none;
  position: relative;
}

.navigation-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: none;
  position: relative; 


}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-left: 16px;
  margin-bottom: 0;
}

.nav-link:hover {
  color: #a05858;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 16px;
    background-color: #333;
    display: none;
  }

  .nav-links.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-toggle:hover {
    background-color: #555;
  }
}
