.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: none;
  position: relative;
}

.navigation-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: none;
  position: relative; 
}

/*
.nav-link {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  padding: 16px;
  background-color: #333;
  
}
*/

.nav-link {
  margin-left: 0; /* remove margin on mobile */
  margin-bottom: 16px; /* add margin bottom for spacing */
}

.nav-link:hover {
  color: #a05858;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding: 0;
    background-color: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .nav-toggle {
    display: none;
  }
}


.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.nav-toggle:hover {
  background-color: #555;
}

.nav-links.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
