.laurel-carousel {
  height: 300px;
  width: 300px;
  margin: 0 auto;

  margin-top: 1rem;
  /* make it into a circle */
  border-radius: 50%;
}
 
.laurel-carousel img {
  height: 300px;
  width: 300px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 50%;
  /* border: 3px solid rgb(199, 179, 179); */
}

.home-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-text a {
  color: inherit; 
  text-decoration: underline;
   
}

.home-text a:hover {
  color: #521b1b;
}